include top
style(rel="stylesheet").
    .modal#alert{
        position:absolute !important;
        float:right;
        width:300px;
        height:68px;
        top:0px;
        left:700px !important;
    }
header.navbar.navbar-expand.flex-column.flex-md-row.bg-info
    lead.text-light.navbar-brand.mr-0.mr-md-2(href="#") bookworm
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        if username
            li.nav-item.dropdown
                a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{username}
                div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                    a.dropdown-item(onclick="logout()") Logout
    
.container-fluid
    if username
        .row.flex-xl-nowrap
            .card.card-body.col-sm-3.col-md-3.col-xl-2.bg-transparent(style="margin-bottom:0px !important;border-radius:0px !important")
                .dropdown
                    a.btn.btn-light(onclick="getmyapps()",data-toggle="collapse",data-target="#apps",aria-expanded="false",aria-control="apps") Apps
                    
                br
                .dropdown
                        a.btn.btn-light.dropdown-toggle#mudropdown(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Manage Books
                        .dropdown-menu(aria-labelledby="mbdropdown")
                            a.dropdown-item.btn.btn-primary( data-toggle="collapse",data-target="#addbooks",aria-expanded="false",aria-control="addbooks") add books
                                code   +
                            a.dropdown-item.btn.btn-primary( data-toggle="collapse",data-target="#editbooks",aria-expanded="false",aria-control="editbooks") edit books
                                code   +
                
            main.col-sm-9.col-md-9.col-xl-8.py-md-3.pl-md-5.bg-white(role="main")
                .card.card-body.bg-white#pt
                    .collapse#apps(data-parent="#pt")
                        lead.display-4 Apps
                        br
                        br
                        .card
                            .card-body.bg-info
                                if apps.length<1
                                    h5.center No apps created yet
                                else
                                    .row
                                        span.col-md-3
                                            lead.bold App Name
                                        span.col-md-5 
                                            lead.bold App Boken
                                        span.col-md-3
                                            lead Delete
                                    hr
                                    for app in apps
                                        .row.card-body
                                            span.col-md-3 #{app.appname}
                                            span.col-md-5 #{app.appBoken}
                                    button.btn.btn-primary(type="button",data-toggle="modal",data-target="#addApp") New App

                    div.modal.fade#addApp(tabindex="-1",role="dialog",aria-labelledby="addAppLabel",aria-hidden="true")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title#addAppLabel New App
                                    button.close(type="button",data-dismiss="modal",aria-label="Close")
                                        span(aria-hidden="true") &times;
                                .modal-body
                                    form.addapp
                                        p#details
                                        div.form-group
                                            input.form-control#appname(type="text",placeholder="appname",required)
                                        div.form-group
                                            input.form-control#appboken(disabled,type="text",placeholder="app boken",required)
                                .modal-footer
                                    button.btn.btn-secondary(type="button",data-dismiss="modal") Cancel
                                    button.btn.btn-primary(type="button",onclick="tryAdd()") Add
                    div.modal#alert        
                        .modal-body.bg-dark
                            span
                                button.btn.text-white(style="float:right;background:transparent",data-dismiss="modal",aria-label="Close",aria-hidden="true") X
                            span.text-white.mesg Text
                        

include bottom
if username
    script(type="text/javascript").
        var tryAdd=()=>{
            $.post(`/checkAppName/${$("#appname").val()}`,{},(r)=>{
                if(r.type=="success") {
                    alertSimple(r.message,3000)
                    $("#appboken").val(r.appBoken)
                }
                else if(r.type=="error") alertSimple(r.message,3000)
            })
        }
        
        alertSimple=(mesg,time)=>{
                $("#alert .modal-body .mesg").text(mesg)
                $('#alert').modal('show')
            setTimeout(()=>{
                $('#alert').modal('hide')
            },time)
        }